doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume - Start Bootstrap Theme

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.1/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        link(href='https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css', rel='stylesheet')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')
        style(type='text/css').
            .palette[data-_ngcontent-rum-c32] {
                display: flex;
                flex-direction: column;
                height: 100%;
            border: 1px solid rgba(0, 0, 0, 0.12);
                line-height: 1;
            }
            .tone[data-_ngcontent-rum-c32] {
                display: flex;
                flex-direction: row;
                flex-grow: 0;
            flex-wrap: wrap;
            justify-content: space-between;
            height: 2.8rem;
                padding: 14px;
            }
            .tone.light[data-_ngcontent-rum-c32] {
                color: #fff;
            }

            .label[data-_ngcontent-rum-c32], .value[data-_ngcontent-rum-c32] {
                align-self: flex-end;
            }
    body#page-top
        // Page Content
        .container.p-0
            .row
                // ======= project Details =======
                .col-3
                    .palette(data-_ngcontent-rum-c32='')

                        .tone.ng-star-inserted(data-_ngcontent-rum-c32='' style='background: rgb(255, 243, 224) none repeat scroll 0% 0%;')
                            span.label(data-_ngcontent-rum-c32='') Orange 50
                            span.value(data-_ngcontent-rum-c32='') #FFF3E0

                        .tone.ng-star-inserted(data-_ngcontent-rum-c32='' style='background: rgb(255, 224, 178) none repeat scroll 0% 0%;')
                            span.label(data-_ngcontent-rum-c32='') 100
                            span.value(data-_ngcontent-rum-c32='') #FFE0B2

                        .tone.ng-star-inserted(data-_ngcontent-rum-c32='' style='background: rgb(255, 204, 128) none repeat scroll 0% 0%;')
                            span.label(data-_ngcontent-rum-c32='') 200
                            span.value(data-_ngcontent-rum-c32='') #FFCC80

                        .tone.ng-star-inserted(data-_ngcontent-rum-c32='' style='background: rgb(255, 183, 77) none repeat scroll 0% 0%;')
                            span.label(data-_ngcontent-rum-c32='') 300
                            span.value(data-_ngcontent-rum-c32='') #FFB74D

                        .tone.ng-star-inserted(data-_ngcontent-rum-c32='' style='background: rgb(255, 167, 38) none repeat scroll 0% 0%;')
                            span.label(data-_ngcontent-rum-c32='') 400
                            span.value(data-_ngcontent-rum-c32='') #FFA726

                        .tone.ng-star-inserted(data-_ngcontent-rum-c32='' style='background: rgb(255, 152, 0) none repeat scroll 0% 0%;')
                            span.label(data-_ngcontent-rum-c32='') 500
                            span.value(data-_ngcontent-rum-c32='') #FF9800

                        .tone.ng-star-inserted(data-_ngcontent-rum-c32='' style='background: rgb(251, 140, 0) none repeat scroll 0% 0%;')
                            span.label(data-_ngcontent-rum-c32='') 600
                            span.value(data-_ngcontent-rum-c32='') #FB8C00

                        .tone.ng-star-inserted(data-_ngcontent-rum-c32='' style='background: rgb(245, 124, 0) none repeat scroll 0% 0%;')
                            span.label(data-_ngcontent-rum-c32='') 700
                            span.value(data-_ngcontent-rum-c32='') #F57C00

                        .tone.ng-star-inserted(data-_ngcontent-rum-c32='' style='background: rgb(239, 108, 0) none repeat scroll 0% 0%;')
                            span.label(data-_ngcontent-rum-c32='') 800
                            span.value(data-_ngcontent-rum-c32='') #EF6C00

                        .tone.ng-star-inserted(data-_ngcontent-rum-c32='' style='background: rgb(230, 81, 0) none repeat scroll 0% 0%;')
                            span.label(data-_ngcontent-rum-c32='') 900
                            span.value(data-_ngcontent-rum-c32='') #E65100

                        .tone.ng-star-inserted(data-_ngcontent-rum-c32='' style='background: rgb(255, 209, 128) none repeat scroll 0% 0%;')
                            span.label(data-_ngcontent-rum-c32='') A100
                            span.value(data-_ngcontent-rum-c32='') #FFD180

                        .tone.ng-star-inserted(data-_ngcontent-rum-c32='' style='background: rgb(255, 171, 64) none repeat scroll 0% 0%;')
                            span.label(data-_ngcontent-rum-c32='') A200
                            span.value(data-_ngcontent-rum-c32='') #FFAB40

                        .tone.ng-star-inserted(data-_ngcontent-rum-c32='' style='background: rgb(255, 145, 0) none repeat scroll 0% 0%;')
                            span.label(data-_ngcontent-rum-c32='') A400
                            span.value(data-_ngcontent-rum-c32='') #FF9100

                        .tone.ng-star-inserted(data-_ngcontent-rum-c32='' style='background: rgb(255, 109, 0) none repeat scroll 0% 0%;')
                            span.label(data-_ngcontent-rum-c32='') A700
                            span.value(data-_ngcontent-rum-c32='') #FF6D00

                .col-3

                    .palette(data-_ngcontent-rum-c32='')

                        .tone.ng-star-inserted(data-_ngcontent-rum-c32='' style='background: rgb(251, 233, 231) none repeat scroll 0% 0%;')
                            span.label(data-_ngcontent-rum-c32='') Deep Orange 50
                            span.value(data-_ngcontent-rum-c32='') #FBE9E7

                        .tone.ng-star-inserted(data-_ngcontent-rum-c32='' style='background: rgb(255, 204, 188) none repeat scroll 0% 0%;')
                            span.label(data-_ngcontent-rum-c32='') 100
                            span.value(data-_ngcontent-rum-c32='') #FFCCBC

                        .tone.ng-star-inserted(data-_ngcontent-rum-c32='' style='background: rgb(255, 171, 145) none repeat scroll 0% 0%;')
                            span.label(data-_ngcontent-rum-c32='') 200
                            span.value(data-_ngcontent-rum-c32='') #FFAB91

                        .tone.ng-star-inserted(data-_ngcontent-rum-c32='' style='background: rgb(255, 138, 101) none repeat scroll 0% 0%;')
                            span.label(data-_ngcontent-rum-c32='') 300
                            span.value(data-_ngcontent-rum-c32='') #FF8A65

                        .tone.ng-star-inserted(data-_ngcontent-rum-c32='' style='background: rgb(255, 112, 67) none repeat scroll 0% 0%;')
                            span.label(data-_ngcontent-rum-c32='') 400
                            span.value(data-_ngcontent-rum-c32='') #FF7043

                        .tone.ng-star-inserted(data-_ngcontent-rum-c32='' style='background: rgb(255, 87, 34) none repeat scroll 0% 0%;')
                            span.label(data-_ngcontent-rum-c32='') 500
                            span.value(data-_ngcontent-rum-c32='') #FF5722

                        .tone.ng-star-inserted(data-_ngcontent-rum-c32='' style='background: rgb(244, 81, 30) none repeat scroll 0% 0%;')
                            span.label(data-_ngcontent-rum-c32='') 600
                            span.value(data-_ngcontent-rum-c32='') #F4511E

                        .tone.ng-star-inserted(data-_ngcontent-rum-c32='' style='background: rgb(230, 74, 25) none repeat scroll 0% 0%;')
                            span.label(data-_ngcontent-rum-c32='') 700
                            span.value(data-_ngcontent-rum-c32='') #E64A19

                        .tone.ng-star-inserted(data-_ngcontent-rum-c32='' style='background: rgb(216, 67, 21) none repeat scroll 0% 0%;')
                            span.label(data-_ngcontent-rum-c32='') 800
                            span.value(data-_ngcontent-rum-c32='') #D84315

                        .tone.light.ng-star-inserted(data-_ngcontent-rum-c32='' style='background: rgb(191, 54, 12) none repeat scroll 0% 0%;')
                            span.label(data-_ngcontent-rum-c32='') 900
                            span.value(data-_ngcontent-rum-c32='') #BF360C

                        .tone.ng-star-inserted(data-_ngcontent-rum-c32='' style='background: rgb(255, 158, 128) none repeat scroll 0% 0%;')
                            span.label(data-_ngcontent-rum-c32='') A100
                            span.value(data-_ngcontent-rum-c32='') #FF9E80

                        .tone.ng-star-inserted(data-_ngcontent-rum-c32='' style='background: rgb(255, 110, 64) none repeat scroll 0% 0%;')
                            span.label(data-_ngcontent-rum-c32='') A200
                            span.value(data-_ngcontent-rum-c32='') #FF6E40

                        .tone.ng-star-inserted(data-_ngcontent-rum-c32='' style='background: rgb(255, 61, 0) none repeat scroll 0% 0%;')
                            span.label(data-_ngcontent-rum-c32='') A400
                            span.value(data-_ngcontent-rum-c32='') #FF3D00

                        .tone.light.ng-star-inserted(data-_ngcontent-rum-c32='' style='background: rgb(221, 44, 0) none repeat scroll 0% 0%;')
                            span.label(data-_ngcontent-rum-c32='') A700
                            span.value(data-_ngcontent-rum-c32='') #DD2C00

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js')

    // Core theme JS
    script(src='js/scripts.js')
