extends layouts/project-details

block name
    | digi.hu portal
block company
    | DIGI Kft.
block date
    | May 2014 - 2017 November, November 2019 -
block url
    a(href='https://digi.hu') Main company portal
block details
    | It analyses their client’s websites and gathers all available data from third party services into one place. This includes various Google services, Xovi, Systrix, amazon, wayback machine, facebook, etc. It gives detailed  overview how their websites performs by online marketing aspects. It also suggests improvements automatically and manually (by employees) via own project management interface. It does security/vulnerability checks, gives newsletter service with tracking, seo/sea analytics, social networking performance, advertisement performance, brand protection, competitor comparison, etc..
block pictures
    +picture('assets/img/project/digi/portal/cover.jpg')
